<%= form_for @user do |f|%>
<span><%= @create_error%></span>
<table class="w3-table w3-striped w3-border">
  <tr>
    <td colspan="4"><label><h3><b>LOGIN DETAILS</b></h3></label></td>
  </tr>
  <tr>
    <td><%= f.label "Email"%></td>
    <td><%= f.email_field :email, :required=>true%></td>
    <td><%= f.label "Role"%></td>
    <td><%= f.select :role, [['User','user'],['Admin','admin']]%></td>
  </tr>
  <tr>
    <td><%= f.label "Password"%></td>
    <td><%= f.password_field :password%></td>
    <td><%= f.label "Confirm Password"%></td>
    <td><%= f.password_field :password_confirmation%></td>
  </tr>
  <tr>
    <td><%= f.submit%></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<pre>
</pre>
<% end%>
